$primary: #26b400

.app
  flex-flow: row nowrap
  display: flex
  width: 100%

  &-aside
    background-color: #ccc
    padding: 50px 50px
    min-height: 100vh
    width: 400px

  .btn--primary
    border: 1px solid rgba(#666, .5)
    border-right-color: transparent
    padding: 10px 10px 10px 16px
    background-color: $primary
    margin-bottom: 80px
    border-radius: 4px
    position: relative
    font-size: 1.4rem
    font-weight: bold
    cursor: pointer
    height: 44px
    color: #fff
    z-index: 2

    &::before,
    &::after
      background-color: $primary
      transform: rotate(45deg)
      position: absolute
      border-radius: 4px
      height: 32px
      width: 32px
      content: ''
      top: 5px

    &::before
      border: 1px solid rgba(#000, .3)
      right: -15px
      z-index: -2

    &::after
      right: -14px
      z-index: -1

  .btn--default
    border: 1px solid rgba(#666, .5)
    background-color: #fff
    margin: 6px 10px 6px 0
    border-radius: 2px
    padding: 5px 8px
    cursor: pointer

  .radio
    align-items: center
    margin: 80px 0 10px
    display: flex

    input
      display: inline-block
      cursor: pointer
      display: none
      height: 16px
      width: 16px

      &:checked + label::after
        width: 8px
        height: 8px
        background-color: #999
        top: 5.5px
        left: 4px

    label
      display: inline-block
      margin: 0 20px 0 0
      position: relative
      font-size: 1.2rem
      padding-left: 22px
      cursor: pointer
      
      &::before,
      &::after
        position: absolute
        border-radius: 50%
        content: ''

      &::before
        border: 1px solid rgba(#666, .5)
        background-color: #fff
        height: 16px
        width: 16px
        top: 1.5px
        left: 0

  &-content

    .matrix
      margin: 30px 15px 30px 45px
      position: relative
      float: left
      
      &--b
        clear: both

      &::before,
      &::after
        height: calc(100% + 14px)
        position: absolute
        border: 3px solid
        width: 13px
        content: ''
        top: -7px

      &::before
        border-color: #777 transparent #777 #777
        left: -7px

      &::after
        border-color: #777 #777 #777 transparent
        right: -7px

      input
        border: 1px solid #ddd
        padding: 10px 5px 0
        vertical-align: top
        text-align: center
        line-height: 20px
        height: 42px
        width: 42px
        margin: 6px
