html {
  font: 14px 'Segoe UI', sans-serif;
  min-height: 100vh;
  line-height: 20px;
  color:  #404040;
  width: 100%;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
  }
}

button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
